#one {
    background-color: aqua;
    height: 150px;
    width: 150px;
}
#two {
    background-color: bisque;
    height: 150px;
    width: 150px;
}
#three {
    background-color: chartreuse;
    height: 150px;
    width: 150px;
}